{
  "openapi": "3.1.0",
  "info": {
    "title": "Revve AI API",
    "description": "Endpoints for integrating your own systems with Revve — enrolling contacts into campaigns from your CRM, core banking system, or any external source.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.revve.ai"
    }
  ],
  "security": [
    {
      "bearerApiKey": []
    }
  ],
  "paths": {
    "/api/campaigns/enrollments": {
      "post": {
        "summary": "Enroll a contact in a campaign",
        "description": "Enrolls an existing Revve contact into a campaign. Use this when the contact already exists in Revve and you just need to start (or advance) their campaign journey. To create the contact and enroll it in one call, use `POST /api/campaigns/contact-enrollments` instead.",
        "operationId": "enrollContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contactId",
                  "teamId",
                  "campaignId"
                ],
                "properties": {
                  "contactId": {
                    "type": "string",
                    "description": "The Revve contact ID to enroll."
                  },
                  "teamId": {
                    "type": "string",
                    "description": "Your Revve team ID. Must match the team the API key belongs to."
                  },
                  "campaignId": {
                    "type": "string",
                    "description": "The campaign to enroll the contact in. Must be an active campaign."
                  },
                  "source": {
                    "type": "string",
                    "description": "Optional free-text label recorded against the enrollment, for your own tracking of where it came from."
                  },
                  "version": {
                    "type": "string",
                    "description": "Which campaign version to enroll against: `current`, `draft`, or a specific campaign_versions.id. Defaults to `current` if omitted."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact enrolled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact enrolled successfully"
                    },
                    "enrollmentId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields (`contactId`, `teamId`, or `campaignId`), or the campaign is not active / does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing `Authorization` header, or the API key is invalid for the given `teamId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No contact found with the given `contactId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The contact is already enrolled in this campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Contact is already enrolled in this campaign"
                    },
                    "enrollmentId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "The existing enrollment's current status."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/campaigns/contact-enrollments": {
      "post": {
        "summary": "Create a contact and enroll it in a campaign",
        "description": "Creates (or updates, if a matching contact already exists) a Revve contact from a phone number and enrolls it into a campaign in one call. Use this when the contact doesn't exist in Revve yet — for example, a lead arriving straight from your core system or CRM. If `campaignId` is omitted, this only creates/updates the contact without enrolling it in anything.",
        "operationId": "createAndEnrollContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phoneNumber",
                  "teamId"
                ],
                "properties": {
                  "phoneNumber": {
                    "type": "string",
                    "description": "The contact's phone number."
                  },
                  "teamId": {
                    "type": "string",
                    "description": "Your Revve team ID. Must match the team the API key belongs to."
                  },
                  "campaignId": {
                    "type": "string",
                    "description": "Optional. The campaign to enroll the contact in. Omit to create/update the contact only, without enrolling."
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "companyName": {
                    "type": "string"
                  },
                  "companyWebsite": {
                    "type": "string"
                  },
                  "timezone": {
                    "type": "string"
                  }
                },
                "additionalProperties": {
                  "description": "Any other property is accepted and stored as a custom field on the contact."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created/updated (and enrolled, if `campaignId` was given).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "contactId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing `phoneNumber` or `teamId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing `Authorization` header, or the API key is invalid for the given `teamId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/contacts": {
      "post": {
        "summary": "Create a contact",
        "description": "Creates a contact in your team. Any keys beyond the standard fields are stored as custom contact properties. If `campaignId` is provided, the new contact is also enrolled into that campaign on a best-effort basis — enrollment failures are logged but do not fail this request, so verify enrollment separately for critical flows. (`POST /api/campaigns/contact-enrollments` also creates the contact and attempts enrollment in one call; enrollment there is likewise best-effort.) The target campaign must be active.\n\nDuplicate contacts (same identifying fields within the team) are rejected with `400 Contact existed`.",
        "operationId": "createContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phoneNumber",
                  "teamId"
                ],
                "properties": {
                  "phoneNumber": {
                    "type": "string",
                    "description": "The contact's phone number. Required.",
                    "example": "+84775352590"
                  },
                  "teamId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Your team ID. Must match the team the API key belongs to."
                  },
                  "name": {
                    "type": "string",
                    "description": "Full name.",
                    "example": "Jane Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "companyName": {
                    "type": "string"
                  },
                  "campaignId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Optional. Enrolls the created contact into this active campaign (best-effort — a failed enrollment does not fail the request)."
                  }
                },
                "additionalProperties": {
                  "description": "Any additional keys are stored as custom contact properties."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact 123e4567-e89b-12d3-a456-426614174000 created successfully"
                    },
                    "contactId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields, or the contact already exists (`Contact existed`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Contact existed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing authorization header or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Contact insert failed (`Failed to create contact`) or an unexpected error occurred (`Internal server error`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/voice-agents/{agentId}/calls": {
      "post": {
        "summary": "Trigger an outbound call",
        "description": "Places (or schedules) an outbound call from a voice agent to a phone number. The contact is created or updated from the identifying fields before dialing, so the agent's `{{contact}}` placeholders resolve.\n\nGuardrails applied automatically: team call limits and plan limits (429), the outbound whitelist when enabled (400), Do Not Call list (the call is not placed), and the agent's allowed calling hours — a call requested outside them is scheduled for the next allowed slot and returns `rescheduled: true` with `runsAt`.\n\nCaller ID: uses the agent's configured outbound number or pool; override per call with `fromPhoneNumber` (must be one of your team's numbers) or `numberPoolId`.",
        "operationId": "triggerOutboundCall",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The voice agent ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phoneNumber"
                ],
                "properties": {
                  "phoneNumber": {
                    "type": "string",
                    "description": "The number to call.",
                    "example": "+84775352590"
                  },
                  "fullName": {
                    "type": "string",
                    "description": "Contact full name (alias: `name`).",
                    "example": "Jane Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "companyName": {
                    "type": "string"
                  },
                  "companyWebsite": {
                    "type": "string"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "IANA timezone for the contact; used for calling-hours evaluation.",
                    "example": "Asia/Ho_Chi_Minh"
                  },
                  "fromPhoneNumber": {
                    "type": "string",
                    "description": "Optional caller-ID override. Must be a phone number belonging to your team."
                  },
                  "numberPoolId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Optional number pool to pick the caller ID from (overrides the agent's configured pool)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call queued for dialing, or scheduled for the next allowed calling window (`rescheduled: true` with `runsAt`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "callRequestId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "rescheduled": {
                      "type": "boolean",
                      "description": "Present and true when the call was scheduled for the next allowed calling window."
                    },
                    "runsAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the rescheduled call will run."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid `fromPhoneNumber` (not a team number), or the destination is not on the whitelist while whitelist-only outbound is enabled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent not found (also returned when the API key does not match the agent's team).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Plan limit reached, or the per-number call limits (daily/weekly/monthly) are exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Also currently returned when the number is on the Do Not Call list — the call is not placed and the message states the reason.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pass your team's API key as a Bearer token: `Authorization: Bearer YOUR_API_KEY`. Find your API key in the dashboard under Settings. The key must belong to the same team as the `teamId` in the request body."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}
